<%- include('partials/header'); %>

<div class="container">
    <div class="box">
    <i class="fa-solid fa-key fa-4x"></i>
    <h1>Secrets</h1>
    <p>Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg"  href="/register">Register</a>
    <a class="btn btn-dark btn-lg"  href="/login">Login</a>
    </div>  
</div>

<%- include('partials/footer'); %>