<%- include('partials/header'); %>

<div class="container mt-5">
        <i class="fa-solid fa-key fa-4x"></i>
        <h1>You have discovered my secrets</h1>
        <p>Jack Bauer is my hero</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/logout">Log Out</a>
        <a class="btn btn-light btn-lg" href="/submit">Submit a Secret</a>
</div>

<%- include('partials/footer'); %>